$govuk-font-family: 'Roboto', arial, sans-serif;

@import "node_modules/govuk-frontend/govuk/_base";
@import "node_modules/govuk-frontend/govuk/components/input";
@import "node_modules/govuk-frontend/govuk/components/hint";

.hods-multi-select-autocomplete__outer-wrapper {
  
  .hods-multi-select-autocomplete {
  
    .error__control,
    &__control {
      width: 100%;
      border: 2px solid govuk-colour("black");
      border-radius: 0;
      padding: 0;
      font-size: 19px;
      box-sizing: border-box;
      transition: none;

      &--is-focused {
        outline: 3px solid govuk-colour("yellow") !important;
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
      }

      &--is-disabled {
        background-color: #efefef4d;
      }

      &:hover {
        border: 2px solid $govuk-input-border-colour;
      }
    }
    
    .error__value-container,
    &__value-container {
      padding: 0.3125rem;
      font-size: 1.1875rem;
      line-height: 1.31579rem;
      
      &--is-multi {
        display: flex;
        flex-wrap: wrap;
      }
    }
  
    &.error__menu,
    &__menu {
      background-color: govuk-colour("white");
      border: 2px solid $govuk-input-border-colour;
      border-top: 0;
      color: govuk-colour("black");
      margin: 0;
      max-height: 324px;
      overflow-x: hidden;
      padding: 0;
      list-style-type: none;
      display: block;
      position: relative;
    }

    &.error__menu-list,
    &__menu-list {
      padding-bottom: 0;
      padding-top: 0;
    }
  
    &.error__single-value,
    &__single-value {
      color: govuk-colour("black");
      margin-left: 0;
      margin-right: 0;
      position: relative;
      display: inline-block;
      top: 12px;
    }

    &.error__multi-value__label,
    &__multi-value__label {
      padding-right: 6px;
    }

    &.error__multi-value__remove,
    &__multi-value__remove {
      &:hover {
        color: govuk-colour("white");
        background-color: govuk-colour("red");
      }
    }

    &__input {
      padding-left: 0px;
    }

    &.error__control {
      border: $govuk-border-width-form-element-error solid $govuk-error-colour;
      
      &--is-focused {
        border-color: $govuk-input-border-colour !important;
        outline: 3px solid govuk-colour("yellow") !important;
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
      }
  
      &:hover:not(.error__control--is-focused) {
        border: 2px solid $govuk-error-colour;
      }
    }

    &.error__menu {
      position: inherit !important;
    }
  }
}
