@import "node_modules/govuk-frontend/govuk/_base";
@import "node_modules/govuk-frontend/govuk/components/accordion/";

.js-enabled {
  .govuk-accordion {
    // Border at the bottom of the whole accordion
    border-bottom: 3px solid $govuk-link-colour;
  }

  .govuk-accordion__section-header {
    position: relative;
    // Safe area on the right to avoid clashing with icon
    padding-right: 40px;
    border-top: 3px solid $govuk-link-colour;
    cursor: pointer;
  }

  .govuk-accordion__icon:after,
  .govuk-accordion__icon:before {
    background-color: $govuk-link-colour;
  }

  .govuk-accordion__icon {
    position: absolute;
    top: 30%;
  }
}
